data

.DS_Store

requirement

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/tests/output/
backend/tests/output/**
backend/tests/input/*.docx

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

CLAUDE.md